{% extends 'base.html.twig' %}

{% block title %}Edit Admin{% endblock %}

{% block body %}
    <h1>Edit Admin</h1>

    {{ include('admin1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin1_index') }}">back to list</a>

    {{ include('admin1/_delete_form.html.twig') }}
{% endblock %}
